.search_bar {
  /* TODO: correct height  40% without auto*/
  height: 40%;
  position: relative;
  margin-left: 10px;
}

.search_bar input {
  margin-top: 12px;
  height: 40px;
  width: 25vw;
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #79bac1, #f7697b);
  border-image-slice: 1;
  outline: none;
  color: #f7697b;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding-left: 10px;
}
.search_bar input:focus {
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #f7697b, #79bac1);
  border-image-slice: 1;
}

@media only screen and (max-width: 768px) {
  .search_bar input {
    width: 70%;
    margin-top: 0;
  }
}
