.heading {
  color: rgb(92, 92, 92);
  font-size: 1.5em;
  width: 100%;
  margin-top: 0;
}

.container {
  font-family: "Roboto", sans-serif;
  background: #fff;
  padding: 2em 2em 2em 2em;
  max-width: 400px;
  margin: 100px auto 0;
  box-shadow: 0 0 1em rgb(230, 230, 230);
  border-radius: 5px;
}
.container h2 {
  text-align: center;
}
