.wrapper {
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}
.ratings div {
  margin-bottom: 15px;
}

.rateBtn {
  height: auto;
  width: auto;
  border: none;
  outline: none;
  font-size: 68px;
  color: #f7697b;
  padding: 0 auto;
  margin: 0 auto;
  background-color: #fafafa;
}

.rateBtn:active {
  color: #33a1ad;
}
