.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.ModalMain {
  position: fixed;
  background: white;
  width: 60vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(187, 186, 186);
  border-radius: 5px 5px 0 0;
  height: 85px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  background-color: rgb(248, 248, 248);
}
.Header button {
  color: #424242;
  font-size: 46px;
  width: 10%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  border: none;
  outline: none;
}
.Header button:hover {
  color: #79bac1;
}
.Title {
  color: #424242;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  width: 95%;
}
.Content {
  display: flex;
  justify-content: center;
}
.DisplayBlock {
  display: block;
}

.DisplayNone {
  display: none;
}

@media (max-width: 575.98px) {
  /* .Content {
   flex-direction: column;
  } */
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .Content {
    flex-direction: column;
  }
  .ModalMain {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
  .Header button {
    font-size: 36px;
    width: 20%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .ModalMain {
    width: 80vw;
    height: auto;
  }
}
