.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 860px;
  height: auto;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
}
.AddProduct {
  height: 60px;
  width: 30%;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 6px;
  margin: 0 auto 25px auto;
}

.AddProduct a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100%;
  color: rgb(43, 43, 43);
}

.AddProduct:hover {
  border-color: #33a1ad;
  transition-duration: 800ms;
}
