.Navigation {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  padding: 0px;
}
.Navigation li {
  padding: 10px 0px 0px 30px;
  list-style: none;
  height: 100%;
  width: 93px;
}
.Navigation li a {
  align-self: center;
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-size: 1em;
}
.Navigation li a:hover {
  color: #79bac1;
}

@media only screen and (max-width: 768px) {
  .Navigation {
    flex-direction: column;
  }
  .Navigation li {
    padding: 5px 0 0 0;
    text-transform: uppercase;
    width: auto;
  }
  .Navigation li:hover {
    border: 0px;
    color: #79bac1;
  }
}
