.Navigation {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  display: flex;
  padding: 0px;
  justify-content: center;
}
.Navigation li {
  padding: 6px 0px 0px 0px;
  list-style: none;
  height: 100%;
  width: 105px;
}
.Navigation li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-size: 1rem;
  outline: none;
  height: 25px;
}
.Navigation li a:hover {
  color: #79bac1;
  background-color: #f5f5f5;
  border-radius: 4px;
  transition-duration: 300ms;
}

@media only screen and (max-width: 768px) {
  .Navigation {
    flex-direction: column;
  }
  .Navigation li {
    padding: 5px 0 0 0;
    text-transform: uppercase;
    margin: 0 auto;
  }
}
