.Container {
  display: flex;
  width: 95vw;
  margin: 30px auto 50px auto;
  padding: 0;
  box-sizing: border-box;
}
.ImgContainer {
  background-image: url(../../../../assets/imgs/benefits.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 45%;
  height: auto;
}
.ContentWrapper {
  width: 55%;
  /* padding: 0 75px 75px 75px; */
  padding: 50px;
  color: #363636;
  font-family: "Raleway", sans-serif;
}
.MainContent {
  width: 90%;
}
.MainContent h2 {
  font-size: 2rem;
  margin: 0;
}
.MainContent p {
  padding-top: 6px;
  font-size: 1.2rem;
  color: #696464;
}

.BenefitsOne div,
.BenefitsTwo div {
  width: 50%;
  margin-top: 20px;
}
.BenefitsTwo div {
  margin-top: 35px;
}
.BenefitsOne,
.BenefitsTwo {
  display: flex;
}
.BenefitsOne h3,
.BenefitsTwo h3 {
  margin: 0;
  font-size: 1.4rem;
  padding: 6px 35px 0 0;
}
.BenefitsOne p,
.BenefitsTwo p {
  font-size: 1.2rem;
  margin: 0;
  padding: 6px 35px 0 0;
  color: #696464;
}

@media only screen and (max-width: 1055px) {
  .Container {
    width: 100vw;
  }
  .BenefitsOne div,
  .BenefitsTwo div {
    width: 90%;
  }
  .BenefitsOne p,
  .BenefitsTwo p {
    width: auto;
  }
  .ContentWrapper {
    padding: 0 0 25px 25px;
  }
}
@media only screen and (max-width: 630px) {
  .Container {
    flex-direction: column-reverse;
  }
  .ContentWrapper {
    width: 100vw;
    padding: 0 0 25px 0;
  }
  .ImgContainer {
    background-image: url(../../../../assets/imgs/benefits.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 200px;
  }
  .MainContent {
    padding-left: 20px;
  }
  .BenefitsOne,
  .BenefitsTwo {
    flex-direction: column;
    align-items: center;
  }
  .BenefitsOne p,
  .BenefitsTwo p {
    padding-right: 0;
    font-size: 1rem;
  }
  .BenefitsOne h3,
  .BenefitsTwo h3 {
    padding-right: 0;
    font-size: 1.2rem;
  }
}
