.Container {
  display: grid;
  height: 160px;
  background-image: url("../../../../assets/imgs/shutterstock_583365850-compressor.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 65px;
}

.Container aside {
  justify-self: flex-end;
  align-self: center;
  margin-right: 60px;
}
.Container aside h4 {
  margin: 0;
}
