.CheckoutContainer {
  display: flex;
  justify-content: flex-end;
  width: 820px;
  margin: 15px auto;
}

.CheckoutWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 430px;
  height: 65px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 9px;
}

.Totals {
  font-size: 18px;
  font-weight: 500;
  color: #595959;
}

.sum {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #595959;
  margin-left: 20px;
}

.btnCheckout {
  background: #f7697b !important;
  color: #ffffff;
  border: none;
  border-radius: 9px;
  width: 150px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
  outline: none;
}
.btnCheckout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.btnCheckout span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btnCheckout:hover span {
  padding-right: 25px;
}
.btnCheckout:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 850px) {
  .CheckoutContainer {
    justify-content: flex-end;
    width: 90vw;
    margin-top: 15px;
  }
}

@media screen and (max-width: 420px) {
  .sum {
    font-size: 20px;
    margin-left: 5px;
  }
  .Totals {
    font-size: 16px;
  }
}
