.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 350px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr [E] 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "Card-Number Card-Number Card-Number Card-Number"
    "Name Name Name Name"
    "Expiry Expiry Ccv Ccv"
    "Purchase Purchase Reset Reset";
  width: 250px;
  margin-top: 20px;
}
.gridContainer input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border: 1px solid #e5e5e5;
  outline: none;
  border-radius: 6px;
  margin: 0 0 1.5em 0;
  background: #f5f5f5;
  font-size: 1em;
  padding-left: 10px;
}
.gridContainer input:focus {
  background: #ffffff;
}
.CardNumber {
  grid-area: Card-Number;
}
.Name {
  grid-area: Name;
}
.Expiry {
  grid-area: Expiry;
}
.Cvc {
  grid-area: Ccv;
}
.btnPurchase {
  grid-area: Purchase;
  outline: none;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 48px;
  margin: 7px 0 20px 0;
  font-family: "Raleway", sans-serif;
  background: #f7697b;
  color: #ffffff;
  font-size: 0.85em;
  text-align: center;
  letter-spacing: 0.12em;
  cursor: pointer;
  border-radius: 10px;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btnPurchase:hover {
  background: #e25366;
}
.btnPurchase:active {
  transform: scale(0.9);
}
/* .btn:disabled {
  background: #979696;
  cursor: not-allowed;
} */
.btnReset {
  grid-area: Reset;
  outline: none;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 48px;
  margin: 7px 0 20px 0;
  font-family: "Raleway", sans-serif;
  background: #b19da0;
  color: #ffffff;
  font-size: 0.85em;
  text-align: center;
  letter-spacing: 0.12em;
  cursor: pointer;
  border-radius: 10px;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btnReset:active {
  transform: scale(0.9);
}
