.ratings {
  margin-bottom: 25px;
}

.ratings h3 {
  margin: 0;
}

.rateBtn {
  height: auto;
  width: auto;
  border: none;
  outline: none;
  font-size: 68px;
  color: #f7697b;
  padding: 0;
  margin: 0 auto;
  background-color: #fafafa;
}

.rateBtn:active {
  transition-duration: 300ms;
  color: #33a1ad;
  outline: none;
}
