.Container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.TitleWrapper {
  width: 100%;
}
.TitleWrapper h1 {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  height: 36px;
}

.ReviewsWrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .ReviewsWrapper {
    flex-direction: column;
  }
}
