.Container {
  max-width: 95vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.Container a {
  text-decoration: none;
}

.TitleWrapper {
  width: 100%;
}
.TitleWrapper h1 {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  height: 36px;
}

.ReviewsWrapper {
  display: flex;
  justify-content: space-around;
  /* padding-top: 20px;
  padding-bottom: 50px; */
  padding: 50px 75px;
}

@media only screen and (max-width: 615px) {
  .ReviewsWrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 860px) {
  .Container {
    width: 65vw;
  }
  .ReviewsWrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
}
